{% extends 'base.html' %}

{% block content %}
<section class="p-5 bg-gray-400">
    <div class="m-5 p-3 rounded">
        <h1 class="text-6xl py-4">Sniffer Squared <span class="font-bold">About</span></h1>
    </div>
</section>
<section class="m-5 text-xl">
    <p>Sniffer Squared is a network sniffer detection platform that allows you to scan your network for network
        sniffers.</p>
    <p>Network sniffers are tools that can be used to intercept and analyze network traffic. They can be used for
        legitimate purposes, such as network monitoring, or for malicious purposes, such as eavesdropping on
        sensitive
        information.</p><br>
    <p>Sniffer Squared can help you detect network sniffers on your network and take action to protect your data.
    </p>
    <h3 class="mt-18 my-8 text-2xl font-semibold">Services</h3>
    <p class="text-lg font-semibold"> - AI analysis: <br>
        <span class="font-normal ml-4 text-lg">
            <span class="underline">What it does:</span> something
        </span>
    </p>
    <p class="ml-4 text-lg">
        <span class="underline">How we are stopping it:</span> something
    </p><br><br>

    <p class="text-lg font-semibold"> - DNS Spoofing: <br>
        <span class="font-normal ml-4 text-lg">
            <span class="underline">What it does:</span> something
        </span>
    </p>
    <p class="ml-4 text-lg">
        <span class="underline">How we are stopping it:</span> something
    </p><br><br>

    <p class="text-lg font-semibold"> - Arp Spoofing: <br>
        <span class="font-normal ml-4 text-lg">
            <span class="underline">What it does:</span> something
        </span>
    </p>
    <p class="ml-4 text-lg">
        <span class="underline">How we are stopping it:</span> something
    </p><br><br>

    <p class="text-lg font-semibold"> - TLS/SSL Fingerprinting: <br>
        <span class="font-normal ml-4 text-lg">
            <span class="underline">What it does:</span> something
        </span>
    </p>
    <p class="ml-4 text-lg">
        <span class="underline">How we are stopping it:</span> something
    </p><br><br>
</section>
{% endblock content %}