{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S² | {{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'sniffersquaredui/favicon.ico' %}"/>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <!-- Simple Bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-4" href="#">
            <img src="/static/sniffersquaredui/favicon.ico" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand ms-1" href="#">S² | Network Sniffer Detection Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end me-4" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% for item in nav_items %}
                    <li class="nav-item me-3">
                        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </nav>

    
    {% block content %}
    <h1>Base.html</h1>
    {% endblock content %}

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
