{% extends 'base.html' %}

{% block content %}
    <div class="container m-5 p-3 border rounded">
        <h1>Sniffer Squared </h1>
        <hr>
        <p>(PLACEHOLDER TEXT)</p>
        <p>Sniffer Squared is a network sniffer detection platform that allows you to scan your network for network sniffers.</p>
        <p>Network sniffers are tools that can be used to intercept and analyze network traffic. They can be used for legitimate purposes, such as network monitoring, or for malicious purposes, such as eavesdropping on sensitive information.</p>
        <p>Sniffer Squared can help you detect network sniffers on your network and take action to protect your data.</p>
    </div>
    <button class="btn-lg btn-block btn btn-primary">Begin Network Scan</button>
{% endblock content %}

